numpy==1.21.2
scipy==1.7.1
matplotlib==3.4.3
pybullet==3.1.9
pyserial==3.5
aiohttp==3.7.4.post0

pytest==6.2.5
black==21.9b0
isort==5.9.3
flake8==3.9.2
flake8-black==0.2.3
flake8-isort==4.0.0
flake8-docstrings==1.6.0
flake8-quotes==3.3.0
pyproject-flake8==0.0.1a2
pre-commit==2.15.0
