#toolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#id-input {
    margin-right: 0.5rem;
}
